In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv("labeled_data.csv", index_col=0)

In [9]:
len(data)

24783

In [10]:
data.head()

,count,hate_speech,offensive_language,neither,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [16]:
clean_data = data.drop(columns=data.columns[0:4], axis=1)
clean_data.head()

   class                                              tweet
0      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [17]:
feature = clean_data.tweet
label = clean_data["class"]

In [18]:
label.head()

0    2
1    1
2    1
3    1
4    1
Name: class, dtype: int64

In [19]:
feature.head()

0    !!! RT @mayasolovely: As a woman you shouldn't...
1    !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2    !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3    !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4    !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
Name: tweet, dtype: object

In [21]:
final_data = pd.concat([feature, label], axis=1)
final_data.head()

                                               tweet  class
0  !!! RT @mayasolovely: As a woman you shouldn't...      2
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...      1
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...      1
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...      1
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...      1

In [26]:
final_data = final_data.reset_index(drop=True)
final_data.head()

                                               tweet  class
0  !!! RT @mayasolovely: As a woman you shouldn't...      2
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...      1
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...      1
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...      1
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...      1

In [27]:
final_data.to_csv("for_cohere.csv", header=False, index=False)

In [32]:
data2 = pd.read_csv("train.csv", index_col='id')
data2 = data2.reset_index(drop=True)
data2.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [38]:
label2 = data2.label
feature2 = data2.tweet
label2.name = "origclass"
label2.head()

0    0
1    0
2    0
3    0
4    0
Name: origclass, dtype: int64

In [41]:
feature2.head()

0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

In [40]:
data_to_append = pd.concat([feature2, label2],axis=1)
data_to_append.head()

                                               tweet  origclass
0   @user when a father is dysfunctional and is s...          0
1  @user @user thanks for #lyft credit i can't us...          0
2                                bihday your majesty          0
3  #model   i love u take with u all the time in ...          0
4             factsguide: society now    #motivation          0

In [42]:
data_to_append['class'] = [2]*len(data_to_append)
data_to_append.head()

                                               tweet  origclass  class
0   @user when a father is dysfunctional and is s...          0      2
1  @user @user thanks for #lyft credit i can't us...          0      2
2                                bihday your majesty          0      2
3  #model   i love u take with u all the time in ...          0      2
4             factsguide: society now    #motivation          0      2

In [50]:
data_to_append['class'].mask(data_to_append['origclass'] == 1, 0, inplace=True)
data_to_append.sample(10)

                                                   tweet  origclass  class
25114  new york ð #nyc #newyork #newyorkcity   #su...          0      2
15118   @user it's not happy people who are thankful....          0      2
12747  watch gleb savchenko and sharna burgess rumba ...          0      2
15227  "if you want others to be  , practice compassi...          0      2
3075   per @user (&amp; common sense) most if not all...          0      2
29521      7 impoant things to allow the #child to be             0      2
6582   #revol   #cuisine #white #porcelain 7 #ounce #...          0      2
22954  @user #allahsoil most victims in islamic extre...          1      0
27074  andyâ¡ #superamigo #handsome    @ san marino ...          0      2
2637   hello #maggystylerd #rd #lifestyle #lifestyleb...          0      2

In [51]:
data_normal = data_to_append[data_to_append['class'] == 2]
len(data_normal)

29720

In [52]:
data_normal_trunc = data_normal.iloc[:15000, ]
len(data_normal_trunc)

15000

In [54]:
data_normal_trunc['class'].value_counts()

2    15000
Name: class, dtype: int64

In [55]:
to_append_final = pd.concat([data_normal_trunc, data_to_append[data_to_append['class']==0]])
to_append_final.head()

                                               tweet  origclass  class
0   @user when a father is dysfunctional and is s...          0      2
1  @user @user thanks for #lyft credit i can't us...          0      2
2                                bihday your majesty          0      2
3  #model   i love u take with u all the time in ...          0      2
4             factsguide: society now    #motivation          0      2

In [57]:
to_append_fr = to_append_final.drop(columns=['origclass'], axis=1)
to_append_fr.reset_index(drop=True)
to_append_fr['class'].value_counts()

2    15000
0     2242
Name: class, dtype: int64

In [59]:
for_cohere = pd.concat([final_data, to_append_fr])
for_cohere.head()

                                               tweet  class
0  !!! RT @mayasolovely: As a woman you shouldn't...      2
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...      1
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...      1
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...      1
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...      1

In [60]:
for_cohere['class'].value_counts()

1    19190
2    19163
0     3672
Name: class, dtype: int64

In [ ]:
for_cohere.to_csv("for_cohere2.csv", header=False, index=False)